{% extends "base.html" %}
{% block content %}

<h3>Recommended Products for You</h3>
<ul>
  {% for product in recommended_products %}
    <li>{{ product.name }} - ₹{{ product.price }} (Category: {{ product.category }})</li>
  {% empty %}
    <li>No recommendations available at this time.</li>
  {% endfor %}
</ul>
  <h3>Product List</h3>
  <ul>
    {% for product in products %}
      <li>{{ product.name }} - ₹{{ product.price }} (Category: {{ product.category }})</li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_order' %}">Place an Order</a>
{% endblock %}
